body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

#header{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:  #1f945e;
}

#subheader{
    text-align: left;
    color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 40px;
}

#overview{
    text-indent: 10mm;
    line-height: 35px;
    text-align: left;
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-top: 25px;
    padding-bottom: 10px;
    padding-top: 0px;
}
#link{
    line-height: 0px;
    text-align: left;
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
}
.info.legend{
    font-family: 'Times New Roman', Times, serif;
}

#mp1{text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mp2{text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}


#description {text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-bottom: 10px;
    margin-top: 10px;
}

#map1, #map2 {
    height: 100vh;
    width: 100%;
}

#description {text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info.legend{
    font-family: 'Times New Roman', Times, serif;
}

.info.legend2{
    font-family: 'Times New Roman', Times, serif;
}